h3 {
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Yatra One', cursive;

}

p {
  font-family: 'Yatra One', cursive;
  font-size: 1em;
  text-align: justify;
  padding: 1%;
  margin: 2%;
}

.game_rules {
  border: 0.2em double dodgerblue; 
  word-wrap: break-word; 
  position: absolute; 
  text-align: center;
  align-items: center;
  transform: translate(-30%, 5%);
}
