.wrapBoardButtons {
  display: flex;
  position: relative;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin-top: 0px;
  float: left;
  margin-bottom: 50px;
}

.wrapBoard {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 70%;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 50px;
}

.temporary_div {
  padding: 10%;
  margin: 10%;
  position: fixed;
}

.buttonDiv {
  display: inline-block;
  margin-left: 120px;
}
/* 
.game_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "grid-board grid-board grid-board grid-button grid-button"
    "grid-board grid-board grid-board grid-button grid-button";
}

.grid_board {
  grid-area: "grid-board";
}

.grid_button {
  grid-area: "grid-button";
  display: flex;
  flex-direction: column;
} */
