.game_btn{
  background-color: transparent;
  font-size: 15px;
  color: black; 
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
  font-family: "Yatra One", cursive;
  min-height: 100px; 
  min-width: 100px;
}

button{
  color: black  !important; 
}
