#board {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  border-radius: 2em;
  border-color: blue; 
  border-style: solid;
  margin: 3em;
  padding: 1%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;  
}
