.card{
    height: 120px; 
    width: 120px; 
}


.card:hover{
    box-shadow: rgba(99, 120, 212, 0.377) 0px 30px 60px -12px inset, rgba(255, 247, 247, 0.3) 0px 18px 36px -18px inset;

}

.card_clicked{
    height: 120px; 
    width: 120px; 
    box-shadow: rgba(89, 0, 255, 0.377) 0px 30px 60px -12px inset, rgba(21, 0, 206, 0.3) 0px 18px 36px -18px inset;

}