.card{
    height: 120px; 
    width: 120px; 
}


.card:hover{
    box-shadow: rgba(99, 120, 212, 0.377) 0px 30px 60px -12px inset, rgba(255, 247, 247, 0.3) 0px 18px 36px -18px inset;

}

.visited{
    height: 150px; 
    width: 150px;
}