h1,h3,h5,h6,p {
  font-family: "Yatra One", cursive;
  margin-top: 10em; 
}

.home_container{
  text-align: center;
}

a {
  color: black !important; 
  text-decoration: none  !important;
}


.btn-outline-dark{
  background-color: transparent;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
  font-family: "Yatra One", cursive;
}
.btn-outline-dark:hover {
  background-color: aliceblue !important; 
}

